body {
			background-color: 	#FAEBD7;
}


h1 {
			font-family: 'Codystar', cursive;
			font-size: 56px;
			
}
h3 {

			font-family: 'League Script', cursive;
			font-size: 40px;
			text-align: center;
			background-color: #ffffff;
}
.hey {
			text-align: right;
			font-family: 'Monofett', cursive;
			font-size: 45px;
			
}
img {
			width: 100%;
			z-index: 0;
			opacity: .9;
			

}