#navbar {
			background-color: transparent;
			border-bottom: none;
			font-family: 'Merriweather Sans', sans-serif;	
			color: #ffffff;
			margin-right: 50px;

}

li {		font-family: 'Volkhov', serif;
			margin: 10px;
			padding-top: 20px;
			font-size: 24px;


}

.background {
			z-index: -100;
			position: absolute;

}
.search {
			position: relative;
			margin: auto;
			top:300px;
			width: 600px;
			height: 200px;
			border-radius: 10px;
			padding-left: 60px;
			padding-right: 60px;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: #ffffff;
			font-size: 25px;
			font-family: 'Roboto', sans-serif;
			opacity: .9;
			text-align: center;


}
#locationdata {
				height: 50px;
				opacity: 1;
				text-align: center;
				font-size: 18px;
}

#search {
				background-color: #000000;
				color: #ffffff;
				font-size: 20px;
				text-align: center;
				font-family: 'Roboto', sans-serif;
				display: block;
				margin: auto;
			}
				